# Caddy settings
SYNAPSE_ADDRESS=synapse:8008
LIVEKIT_ADDRESS=livekit:7880
LK_JWT_ADDRESS=lkjwt:6080
MAIN_URL=example.com
SYNAPSE_URL=matrix.example.com
LIVEKIT_URL=livekit.example.com
ADMIN_EMAIL=admin@example.com

# livekit settings
LIVEKIT_DEVKEY=devkey # CHANGE THIS before deploying!
LIVEKIT_SECRET=secret # CHANGE THIS before deploying!

# lk-jwt-service settings
LIVEKIT_JWT_BIND=:6080
LIVEKIT_WSS_URL=wss://livekit.example.com/livekit/sfu