# Caddy environmets
SYNAPSE_ADDRESS=synapse:8008
LIVEKIT_ADDRESS=livekit:7880
LK_JWT_ADDRESS=lkjwt:6080
MAIN_URL=example.com
SYNAPSE_URL=matrix.example.com
LIVEKIT_URL=livekit.example.com
ADMIN_EMAIL=admin@example.com

# livekit environments
NODE_IP=1.2.3.4
UDP_PORT=50100-50101
LIVEKIT_DEVKEY=devkey
LIVEKIT_SECRET=secret

# lk-jwt-service environments
LIVEKIT_JWT_BIND=:6080
LIVEKIT_WSS_URL=wss://livekit.example.com/livekit/sfu
LIVEKIT_KEY=devkey
LIVEKIT_SECRET=secret